body,html {
    font-family:Montserrat,sans-serif;
    width:100%;
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    margin:0;
    padding:0;
    background-color:#fff;
}

h2 {
    margin:0;
    padding:0;
}

ce-app {

    display:block;
    
    .container {
        display:block;
        margin: 0px auto;
        padding-top:30px;
        max-width:1280px;
    }

    .router-outlet {        
        display:inline-block;
        position:relative;        
        margin:0;
        max-width: 960px;
        width:calc(100% - 300px);
        height:calc(100vh - 90px);
        float:left;
        overflow-y:scroll;
        padding: 0 20px 0 0;
    }

    .sidebar {
        display:inline-block;
        position:relative;
        float:left;
        width:300px;
        height:calc(100vh - 90px);        
    }

    ce-button {
        background-color:#fff;
    }

    .container::after {
        clear:both;
        content: " ";
        display:block;
    }
}

